ExchangeCompanySoftware/Service References/GetData/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckMac">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckMacResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckMacResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pGetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQry" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pGetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pGetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQry" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompressDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQry" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompressDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompressDataSetResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dmlexecute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQuery" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DmlexecuteResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertMasterRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDataset">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strTransType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTableName" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strCondition" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPKColumn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strButtonState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBranchCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dtSystemDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertMasterRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertMasterRecordResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pstrError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMasterRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pstrError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDataset">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strTableName" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strCondition" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMasterRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateMasterRecordResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pstrError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteJsonResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQuery" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteJsonResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteJsonResultResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUpdateForm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isp" type="tns:InsertParameters" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InsertParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DataSetForSave">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ButtonState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherDML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertUpdateFormResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSchemaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTableName" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="strCondition" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteRecordResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETEXETIME">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strServerLocalPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GETEXETIMEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GETEXETIMEResult" type="tns:ArrayOfDateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDateTime">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="dateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="MultipleDML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQuery" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultipleDMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MultipleDMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckMacSoapIn">
    <wsdl:part name="parameters" element="tns:CheckMac" />
  </wsdl:message>
  <wsdl:message name="CheckMacSoapOut">
    <wsdl:part name="parameters" element="tns:CheckMacResponse" />
  </wsdl:message>
  <wsdl:message name="pGetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:pGetDataSet" />
  </wsdl:message>
  <wsdl:message name="pGetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:pGetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSet" />
  </wsdl:message>
  <wsdl:message name="GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompressDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompressDataSet" />
  </wsdl:message>
  <wsdl:message name="GetCompressDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompressDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="DmlexecuteSoapIn">
    <wsdl:part name="parameters" element="tns:Dmlexecute" />
  </wsdl:message>
  <wsdl:message name="DmlexecuteSoapOut">
    <wsdl:part name="parameters" element="tns:DmlexecuteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertMasterRecordSoapIn">
    <wsdl:part name="parameters" element="tns:InsertMasterRecord" />
  </wsdl:message>
  <wsdl:message name="InsertMasterRecordSoapOut">
    <wsdl:part name="parameters" element="tns:InsertMasterRecordResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMasterRecordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMasterRecord" />
  </wsdl:message>
  <wsdl:message name="UpdateMasterRecordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMasterRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteJsonResultSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteJsonResult" />
  </wsdl:message>
  <wsdl:message name="ExecuteJsonResultSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteJsonResultResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUpdateFormSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUpdateForm" />
  </wsdl:message>
  <wsdl:message name="InsertUpdateFormSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUpdateFormResponse" />
  </wsdl:message>
  <wsdl:message name="GetSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetSchema" />
  </wsdl:message>
  <wsdl:message name="GetSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRecordSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRecord" />
  </wsdl:message>
  <wsdl:message name="DeleteRecordSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRecordResponse" />
  </wsdl:message>
  <wsdl:message name="GETEXETIMESoapIn">
    <wsdl:part name="parameters" element="tns:GETEXETIME" />
  </wsdl:message>
  <wsdl:message name="GETEXETIMESoapOut">
    <wsdl:part name="parameters" element="tns:GETEXETIMEResponse" />
  </wsdl:message>
  <wsdl:message name="MultipleDMLSoapIn">
    <wsdl:part name="parameters" element="tns:MultipleDML" />
  </wsdl:message>
  <wsdl:message name="MultipleDMLSoapOut">
    <wsdl:part name="parameters" element="tns:MultipleDMLResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CheckMac">
      <wsdl:input message="tns:CheckMacSoapIn" />
      <wsdl:output message="tns:CheckMacSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pGetDataSet">
      <wsdl:input message="tns:pGetDataSetSoapIn" />
      <wsdl:output message="tns:pGetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <wsdl:input message="tns:GetDataSetSoapIn" />
      <wsdl:output message="tns:GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompressDataSet">
      <wsdl:input message="tns:GetCompressDataSetSoapIn" />
      <wsdl:output message="tns:GetCompressDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dmlexecute">
      <wsdl:input message="tns:DmlexecuteSoapIn" />
      <wsdl:output message="tns:DmlexecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertMasterRecord">
      <wsdl:input message="tns:InsertMasterRecordSoapIn" />
      <wsdl:output message="tns:InsertMasterRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMasterRecord">
      <wsdl:input message="tns:UpdateMasterRecordSoapIn" />
      <wsdl:output message="tns:UpdateMasterRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteJsonResult">
      <wsdl:input message="tns:ExecuteJsonResultSoapIn" />
      <wsdl:output message="tns:ExecuteJsonResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateForm">
      <wsdl:input message="tns:InsertUpdateFormSoapIn" />
      <wsdl:output message="tns:InsertUpdateFormSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
      <wsdl:input message="tns:GetSchemaSoapIn" />
      <wsdl:output message="tns:GetSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <wsdl:input message="tns:DeleteRecordSoapIn" />
      <wsdl:output message="tns:DeleteRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GETEXETIME">
      <wsdl:input message="tns:GETEXETIMESoapIn" />
      <wsdl:output message="tns:GETEXETIMESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MultipleDML">
      <wsdl:input message="tns:MultipleDMLSoapIn" />
      <wsdl:output message="tns:MultipleDMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckMac">
      <soap:operation soapAction="http://tempuri.org/CheckMac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pGetDataSet">
      <soap:operation soapAction="http://tempuri.org/pGetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://tempuri.org/GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompressDataSet">
      <soap:operation soapAction="http://tempuri.org/GetCompressDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dmlexecute">
      <soap:operation soapAction="http://tempuri.org/Dmlexecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMasterRecord">
      <soap:operation soapAction="http://tempuri.org/InsertMasterRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMasterRecord">
      <soap:operation soapAction="http://tempuri.org/UpdateMasterRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteJsonResult">
      <soap:operation soapAction="http://tempuri.org/ExecuteJsonResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateForm">
      <soap:operation soapAction="http://tempuri.org/InsertUpdateForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
      <soap:operation soapAction="http://tempuri.org/GetSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <soap:operation soapAction="http://tempuri.org/DeleteRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETEXETIME">
      <soap:operation soapAction="http://tempuri.org/GETEXETIME" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultipleDML">
      <soap:operation soapAction="http://tempuri.org/MultipleDML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckMac">
      <soap12:operation soapAction="http://tempuri.org/CheckMac" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pGetDataSet">
      <soap12:operation soapAction="http://tempuri.org/pGetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompressDataSet">
      <soap12:operation soapAction="http://tempuri.org/GetCompressDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dmlexecute">
      <soap12:operation soapAction="http://tempuri.org/Dmlexecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMasterRecord">
      <soap12:operation soapAction="http://tempuri.org/InsertMasterRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMasterRecord">
      <soap12:operation soapAction="http://tempuri.org/UpdateMasterRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteJsonResult">
      <soap12:operation soapAction="http://tempuri.org/ExecuteJsonResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateForm">
      <soap12:operation soapAction="http://tempuri.org/InsertUpdateForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchema">
      <soap12:operation soapAction="http://tempuri.org/GetSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <soap12:operation soapAction="http://tempuri.org/DeleteRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETEXETIME">
      <soap12:operation soapAction="http://tempuri.org/GETEXETIME" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultipleDML">
      <soap12:operation soapAction="http://tempuri.org/MultipleDML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:55898/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:55898/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>